{% extends 'base.html' %}
{% block title %} services {% endblock title%}
{% load static %}
{% block body %}

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
        <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\java.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
              Java is a powerful, object-oriented programming language used to build desktop applications, backend systems, and Android apps. This course covers Java fundamentals, OOP concepts, collections, exception handling, and basic database connectivity. Ideal for beginners and those wanting strong programming foundations.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\DS.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
            Data Science focuses on extracting insights from data using Python, statistics, and machine learning. This course covers data cleaning, visualization, EDA, and basic ML algorithms using libraries like pandas and scikit-learn. Ideal for those starting their journey into analytics and AI.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\.NET.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
             .NET with C# is a powerful framework for creating web APIs, desktop apps, and enterprise-level solutions. This course covers C# basics, OOP concepts, ASP.NET Core, and database integration using Entity Framework. Great for students wanting to build modern and scalable applications.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\mysql.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
              MySQL is a popular relational database system used for storing and managing data efficiently. This course teaches SQL queries, joins, constraints, indexing, and database design. Suitable for beginners who want to learn how to handle data in real-world applications.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\PHP.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
             PHP is a widely used server-side scripting language for building dynamic websites and web applications. This course includes PHP basics, form handling, sessions, file upload, and working with MySQL. Perfect for learners aiming to create functional, database-driven websites.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\.NET.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
              .NET with C# is a powerful framework for creating web APIs, desktop apps, and enterprise-level solutions. This course covers C# basics, OOP concepts, ASP.NET Core, and database integration using Entity Framework. Great for students wanting to build modern and scalable applications.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\PHP.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
              PHP is a widely used server-side scripting language for building dynamic websites and web applications. This course includes PHP basics, form handling, sessions, file upload, and working with MySQL. Perfect for learners aiming to create functional, database-driven websites.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\java.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
              Java is a powerful, object-oriented programming language used to build desktop applications, backend systems, and Android apps. This course covers Java fundamentals, OOP concepts, collections, exception handling, and basic database connectivity. Ideal for beginners and those wanting strong programming foundations.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="{% static 'C:\Users\ASUS\OneDrive\Desktop\Django\Hello\Static\images\mysql.jpg' %}" class="d-block w-100" height=350px>
          <div class="card-body">
            <p class="card-text">
              MySQL is a popular relational database system used for storing and managing data efficiently. This course teaches SQL queries, joins, constraints, indexing, and database design. Suitable for beginners who want to learn how to handle data in real-world applications.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-dark">
                  View
                </button>
                
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock body%}